<div class="admin-container">
    <a href="/dashboard">&larr; Back</a>

    <div class="admin-title">
        <h2>Edit Post</h2>

        <form action="/delete_post/<%= data._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn-delete text-link">
        </form>
    </div>

    <form action="/edit_post/<%= data._id %>?_method=PUT" method="POST">

        <div class="input-group">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">
        </div>

        <div class="input-group">
            <label for="summary"><b>Summary (Optional)</b></label>
            <textarea name="summary" cols="100" rows="5"></textarea>
        </div>

        <div class="input-group">
            <label for="body"><b>Text</b></label>
            <textarea name="body" cols="100" rows="20"><%= data.body %></textarea>
        </div>

        <div class="input-group">
            <label for="topic"><b>Topic (One, required)</b></label>
            <input type="text" placeholder="Topic" name="topic" value="<%= data.topic %>">
        </div>

        <div class="input-group">
            <label for="tags"><b>Tags (Multiple, optional)</b></label>
            <input type="text" placeholder="Tags" name="tags" value="<%= data.topic %>">
        </div>

        <input type="submit" value="Update" class="text-link">

    </form>
</div>