<!-- Main container: search results -->
<div class="search-result-main-container">

    <section class="section-header-offset">

    </section>

    <h3 class="title search-result-title">Search Results</h3>

    <div class="search-result-container container">

        <!-- Fetch blog post search results -->
        <% data.forEach(post => { %>

            <div class="search-result">

                <div class="blog-title">
                    <a href="/post/<%= post._id %>">
                            <%= post.title %>
                        </a>
                </div>

                <p class="blog-text">
                    <% if (post.desc) { %>
                        <%= post.desc %>
                    <% } else { %>
                        <% const summary = post.body.split(' ').slice(0, 10).join(' ') %>
                        <%= summary %>...
                    <% } %>
                </p>

                <div class="blog-info">
                    <p class="blog-info-text">
                    <time datetime><%= post.createdAt.toDateString() %></time>
                </div>

            </div>

        <% }) %>

        <% if (nextPage !== null) { %>
            <a href="/search?searchTerm=<%= searchTerm %>&page=<%= nextPage %>" class="search-pagination">
                <button class="btn load-more">Load More</button>
            </a>
        <% } %>

    </div>


</div>